/scooter_application/Scooter/__pycache__
/scooter_application/Scooter/migrations
/scooter_application/scooter_application/__pycache__
/scooter_application/scooter_application/static
/scooter_application/db.sqlite3
/scooter_application/User/__pycache__
/scooter_application/User/migrations
